{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axmet Yassaviy</title>
    <link rel="stylesheet" href="{% static 'css/notification.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #303972 !important;">
    <div class="container flex-lg-column">
        <div class="logo-img">
            {% if user.photo %}
                <img src="{{ user.photo.url }}" alt="users photo" class="log-img">
            {% else %}
                <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="users photo" class="log-img">
            {% endif %}
        </div>

        <h3 class="text-light"
            style="margin-bottom: 35px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            <i class="fa-solid fa-user"></i> {{ user.username | default:'username' }}
        </h3>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto flex-lg-column text-lg-center">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}"><i class="fa-solid fa-house"></i> Dashboard</a>
                </li>
                {% if user.role == "O'quvchi" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'students' %}"><i class="fa-solid fa-users">
                        </i> Students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'marksheet' %}"><i class="fa-solid fa-marker">
                        </i> Marksheet</a>
                    </li>
                {% elif user.role == "O'qituvchi" or user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'students' %}"><i class="fa-solid fa-users"></i> Students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_user' %}"><i class="fa-solid fa-user-plus"></i> Add
                            user</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'notifications' %}"> <i class="fa-solid fa-bell"></i>
                        Notifacation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user' %}"><i class="fa-solid fa-circle-user"></i> User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chat' %}"><i class="fa-solid fa-comments"></i> Chat</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
</body>
</html>